* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: violet;
    font-family: 'Roboto', sans-serif;
  
  }

  h1 {
    text-align: center;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    flex-direction: column;
    
  }
  
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    background-color: cyan;
    margin: 4px ;
    width: 600px;
    padding: 10px 8px;
    text-align: center;
    border: 0;
    font-weight: bold;
    border-radius: 50px;
  }

  label {
    font-weight: bold;
    
  }

  @media  (max-width: 600px){
    input {
        max-width: 350px;
    }
  }

  p {
    text-align: center;
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 50px;
    border-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;

  }
  
  button {
    background-color: cyan;
    margin-top: 4px;
    padding: 10px 8px;
    border-radius: 50px;
    margin-top: 2rem;
    border: 0;
    font-weight: bold;
    transition: all .9s;
  }
  button:hover {
    transform: scale(1.1);
  }
